language: node_js
node_js:
  - 'node'
  - 'lts/*'
env:
  - MOCHA_VERSION=7
  - MOCHA_VERSION=6
  - MOCHA_VERSION=5
  - MOCHA_VERSION=4
jobs:
  include:
    # nyc is not supported on node < v8
    # mocha v6 does not run on node v4
    - node_js: 4
      env: MOCHA_VERSION=5
      script: mocha
      after_success: false
    - node_js: 4
      env: MOCHA_VERSION=4
      script: mocha
      after_success: false
cache: npm
install:
  - npm install mocha@$MOCHA_VERSION
  - npm install
after_success:
  - npm run report-coverage
